<footer>
  <div class="diamonds diamonds-left">
    <div class="diamond diamond-1"></div>
    <div class="diamond diamond-2"></div>
  </div>

  <div class="site-info">
  	<div class="container">
  		<div class="row">
  			<div class="col-12">
  				<div class="footer-menu">
            <div class="mb-3 d-flex flex-column align-items-center">
    					<h3>Location</h3>
    					{{ site.address }} <br>
    					{{ site.town }}
            </div>
            <div class="mb-3 d-flex flex-column align-items-center">
    					<h3>Contact Us</h3>
    					<a href="mailto:{{ config.email }}">{{ site.email }}</a>
    					<a href="tel:{{ config.phone }}">{{ site.phone }}</a>
            </div>
            <div class="d-flex flex-column align-items-center">
    					<h3>Navigation</h3>
              <a href="/">Home</a>
              <a href="/portfolio">Our Portfolio</a>
              <a href="/contact-us">Contact Us</a>
            </div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>

  <div class="diamonds diamonds-right">
    <div class="diamond diamond-3"></div>
    <div class="diamond diamond-4"></div>
  </div>
</footer>