<picture class="tenf-portfolio-picture">
  <source media="(min-width:1400px)" srcset="/assets/images/portfolio/{{ include.image }}x1320.jpg">
  <source media="(min-width:1200px)" srcset="/assets/images/portfolio/{{ include.image }}x1140.jpg">
  <source media="(min-width:992px)" srcset="/assets/images/portfolio/{{ include.image }}x960.jpg">
  <source media="(min-width:768px)" srcset="/assets/images/portfolio/{{ include.image }}x720.jpg">
  <source media="(min-width:576px)" srcset="/assets/images/portfolio/{{ include.image }}x540.jpg">
  <img src="/assets/images/portfolio/{{ include.image }}x400.jpg" alt="{{ include.alt }}">
</picture>