---
layout: default
---

<div class="homepage-hero-section-wrapper">	
	<section class="homepage-section homepage-section-hero">
		<div class="container">
			<div class="homepage-header-grid-wrapper">
				<div class="homepage-header-grid">
					<div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>

				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card double-card red-card"></div>
				  <div class="card"></div>
				  <div class="card hidden-card"></div>
				  
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card"></div>
				  <div class="card"></div>
				  <div class="card light-gray-card"></div>
				  
				  <div class="card hidden-card"></div>
				  <div class="card double-card"></div>
				  <div class="card double-card">{% picture {{ page.images[ 0 ] }} %}</div>
				  <div class="card light-gray-card"></div>
				  <div class="card">{% picture {{ page.images[ 1 ] }} %}</div>
				  
				  <div class="card"></div>
				  <div class="card light-gray-card"></div>
				  <div class="card hidden-card"></div>
				  
				  <div class="card hidden-card"></div>
				  <div class="card green-card"></div>
				  <div class="card"></div>
				  <div class="card">{% picture {{ page.images[ 2 ] }} %}</div>
				  <div class="card">{% picture {{ page.images[ 3 ] }} %}</div>
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card light-green-card"></div>
				  <div class="card">{% picture {{ page.images[ 4 ] }} %}</div>
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				  <div class="card hidden-card"></div>
				</div>
			  <h1 class="homepage-header-title">We Build Websites</h1>
			</div>
		</div>
	</section>
</div>	

<section class="homepage-section site-description">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				{{ content }}
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>

<section class="homepage-section portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Our Portfolio</h2>
			</div>
		</div>
		<div class="row align-items-stretch mb-3">
			{% for post in site.categories.portfolio limit:3 %}
				<div class="col-md-4 tenf-portfolio-tile">
					<a href="{{ post.url }}" class="tenf-portfolio-tile-content">
						<div class="tenf-portfolio-tile-image">
							{% picture {{ post.tile-photo }} %}
						</div>
						<h4>{{ post.title }}</h4>
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<a href="/portfolio" class="tenf-button">View All Our Work <i class="tenf-icon-plus"></i></a>
			</div>
		</div>
	</div>
</section>

<section class="homepage-section homepage-section-testimonials">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>{{ page.testimonials_header }}</h2>
			</div>
		</div>
	</div>

	<div class="testimonials">

		<div class="diamonds">
			<div class="diamond"></div>
			<div class="diamond"></div>
			<div class="diamond"></div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="testimonials-slider">						
						{% for testimonial in site.categories.testimonials %}
						<div class="testimonial-slide">
							<div class="testimonial">
								<i class="tenf-quote-left"></i>
								<div class="testimonial-content">
									{{ testimonial.content }}
									<div class="testimonial-author">
										<a href="{{ testimonial.link }}" target="_blank"><strong>{{ testimonial.author }}</strong>, {{ testimonial.author_institution }}</a>
									</div>
								</div>
							</div>
						</div>

						{% endfor %}
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>

		<div class="diamonds diamonds-right">
			<div class="diamond"></div>
			<div class="diamond"></div>
			<div class="diamond"></div>
		</div>

	</div>

</section>

{% assign post = site.categories.posts.first %}
<section class="homepage-section homepage-section-blog">
	{% include post-tile.html post=post %}
</section>

<script>
	$( document ).ready( function ($) {
		var index = 0;
		var last_time = new Date();
		var cards = $('.card:not(.hidden-card)');
		for ( let i = 0; i < cards.length; i++ ) {
			index += 1;
			$(cards[i]).delay( index * 150 ).queue( function () {
				$(this).addClass( "card-visible" );
				var new_time = new Date();
				last_time = new_time;
			});
		}
		$(".testimonials-slider").slick({
			fade: true,
			dots: true
		});
	});
</script>